:root {
  --red: #f56c6c;
  --crimson: #c1242a;
  --orange: #e6a23c;
  --yellow: #fde000;
  --green: #67c23a;
  --blue: #409eff;
  --azure: #00b1ed;
  --purple: #800080;
  --grey: #e4e7ed;
  --lightgrey: #f5f5f5;
  --lightgrey2: #f5f7fA;
}
