body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: var(--lightgrey);
}

.el-tabs__item {
  font-weight: 900;
}

.el-scrollbar-wrapper {
  /* 取消横向滚动头条 */
  overflow-x: hidden;
}

.el-table .el-table__cell {
  /* 设置表格每行内边距 */
  padding: 5px 0;
}

.el-table thead {
  /* 设置表格表头 */
  font-weight: bold;
}

.el-loading-mask {
  /* 加载页面背景透明 */
  opacity: 0.2;
}
