body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: var(--lightgrey);
}

.el-tabs__item {
  font-weight: 900;
}

.el-scrollbar__bar.is-vertical > div {
  /* 隐藏侧边栏滚动条 */
  width: 0%;
}

.el-table .el-table__cell {
  /* 设置表格每行内边距 */
  padding: 5px 0;
}

.el-table thead {
  /* 设置表格表头 */
  font-weight: bold;
}

.el-loading-mask {
  /* 加载页面背景透明 */
  opacity: 0.7;
}

.el-avatar {
  /* 设置文字头像背景颜色 */
  background: var(--grey);
}

.el-dialog {
  /* 修改弹框 */
  border-radius: 15px;
  text-align: left;
  width: 550px;
}

@media screen and (max-width: 992px) {
  .el-dialog {
    width: 95%;
  }
}

.el-card__header {
  /* 修改卡片标题 */
  border-bottom: 2px dashed var(--grey);
}

.el-dialog__header {
  /* 修改弹框标题 */
  border-bottom: 2px dashed var(--grey);
}

.el-dialog__body {
  /* 修改弹框表格 */
  padding: 30px 20px 0 20px;
}

.el-select {
  /* 修改选择框 */
  width: 100%;
}

.el-empty {
  /* 调整无数据信息显示 */
  height: inherit;
}

.el-pagination {
  /* 分页属性 */
  text-align: right;
  padding: 0;
  margin: 20px -5px 0 0;
}

.el-table--fit {
  /* 表格边框 */
  border-top: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
  border-left: 1px solid var(--grey);
}

.el-col {
  /* 布局时每行添加下边距离 */
  padding-bottom: 20px;
}
